@model mert_polat_211103040.DAL.içerik

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Detaylar</h2>

<div>
    <h4>içerik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.içerik1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.içerik1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.kariyerid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
